div.loginForm {
    width:100%;
    display:flex;
    justify-content: center;
    height:99vh;
    align-items: center;
    flex-direction: column;
}
div.loginForm > form {
    width: 425px;
    padding: 75px;
    background-color: #fbfbfb;
    box-shadow: 0px 0px 7px 2px #00000017;
    border-radius: 10px;
}

#welcome {
    background-color: grey;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

@media screen and (max-width: 600px) {


    /* for login page  */
    div.loginForm>form {
      padding: 43px !important;
      width: 90% !important;
  }
}